// Sección del pie de página
.footer-section {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 200px;

    .menu-footer-section {
        padding: 1rem 0;

        >.wrap-social-logos ul,
        >.wrap-menu-footer-section ul {
            display: flex;
            justify-content: space-around;
        }

        .social-logo {
            max-width: 100px;
            width: 100%;
            padding: 1rem;
        }

        .wrap-menu-footer-section ul li {
            font-size: 1.1rem;
            padding: 1.5rem;
        }

        .footer-creds {
            display: flex;
            justify-content: center;
        }
    }
}